include head

body 

  include bar

  div.active-panes

    div.pane-wrapper#lexicon(data-color='blue')
      div.pane-header
        div.pane-title Lexicon
        div.pane-message : : :
        div.pane-controls

      div.pane-content 
        p mite swap to web components instead tbh

    div.pane-wrapper#entry(data-color='green')
      div.pane-header
        div.pane-title Entry
        div.pane-message : : :
        div.pane-controls
    
      include panes/entry

    
  
  include panes/ipa 

