mixin pane-wrappper(paneId, paneColor, paneTitle)
  div(id=paneId class='pane-wrapper' class=paneColor)
    div.pane-header
      div.pane-title paneTitle
      div.pane-message
      div.pane-controls

    div.pane-content